/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --c-primery: #212121;
  --title-text-color: #757575;
  --c-accent: #2196f3;
  --c-placeholder: rgba(117, 117, 117, 0.5);
  --white-color: #ffffff;
  --background-color: #2f303a;
  --background-color-btn: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --bg-section: #ffffff;
  --bg-hero: #c4c4c4;
  --bg-works-desk: rgba(47, 48, 58, 0.8);
  --bg-partners: #afb1b8;
  --bg-social: rgba(255, 255, 255, 0.1);
  --bg-accent: #2196f3;
  --bg-btn: #188ce8;
  --bg-team: #f5f4fa;
  --bg-works: #f5f5f5;
  --border-hed: #ececec;
  --border-col: #eeeeee;
  --bg-galary-desc: rgba(33, 150, 243, 0.9);
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0 auto;
  color: var(--c-primery);
}

h1 {
  margin: 0 0;
}

h2 {
  margin: 0 0;
}

h3 {
  margin: 0 0;
}

h4 {
  margin: 0 0;
}

h5 {
  margin: 0 0;
}

h6 {
  margin: 0 0;
}

p {
  margin: 0 0;
}

ul {
  margin: 0 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.conteiner {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--c-accent);
  text-decoration: none;
  outline: transparent;
}
@media screen and (max-width: 1199px) {
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    line-height: 1.6666;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--border-hed);
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: -6px;
  color: var(--c-primery);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__list {
  margin-left: 87px;
  gap: 50px;
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 91px;
  }
}

.navigation__item--current {
  position: relative;
}
.navigation__item--current:visited {
  color: var(--c-accent);
}

.navigation__link,
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}
.navigation__link:hover,
.menu__link:hover {
  color: var(--bg-accent);
  outline: transparent;
}
.navigation__link:focus,
.menu__link:focus {
  color: var(--bg-accent);
  outline: transparent;
}

.navigation__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  background-color: var(--bg-accent);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: -1px;
}
@media screen and (max-width: 1199px) {
  .navigation__link--current::after {
    margin-bottom: -2px;
  }
}
.navigation__link--current:visited {
  color: var(--c-accent);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: auto;
  gap: 50px;
}
@media screen and (max-width: 1199px) {
  .contacts {
    margin-left: auto;
    width: 142px;
    padding: 21px 0;
    gap: 10px;
  }
}

.contacts__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

.list__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-link);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link:hover {
  color: var(--bg-accent);
  outline: transparent;
}
.list__link:focus {
  color: var(--bg-accent);
  outline: transparent;
}

.menu__contacts__item {
  font-weight: 500;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.menu__link--tel {
  font-size: 34px;
  line-height: 40px;
}

.menu__link--mail {
  font-size: 24px;
  line-height: 28px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.1428;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list, .contacts {
    display: none;
  }
}
.js-menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bg-section);
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 48px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.js-menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}
.js-menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle .js-close-menu {
  display: none;
}
.menu-toggle .js-close-menu {
  display: block;
}
.menu-toggle .js-open-menu {
  display: none;
}
.menu-toggle:hover {
  fill: var(--c-accent);
}
.menu-toggle:focus {
  fill: var(--c-accent);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__link {
  padding: 0;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.menu__nav,
.menu__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.menu__nav {
  gap: 32px;
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  padding: 0;
}
.menu__link--current:visited {
  color: var(--c-accent);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.menu__contacts {
  gap: 32px;
  margin-bottom: 64px;
}

.menu__contact {
  font-weight: 500;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact--tel {
  font-size: 34px;
  line-height: 1.1764;
}
.menu__contact--mail {
  font-size: 24px;
  line-height: 1.1666;
}
.menu__contact:hover {
  color: var(--bg-accent);
  outline: transparent;
}
.menu__contact:focus {
  color: var(--bg-accent);
  outline: transparent;
}

.hero {
  background-color: var(--bg-hero);
}
.hero__title {
  max-width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6153;
  }
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--bg-accent);
  border-radius: 4px;
  border-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .hero__button {
    padding: 10px 24px;
  }
}

.hero__conteiner {
  background-image: url(../images/overlays.webp), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white-color);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero__conteiner {
    background-image: url(../images/overlays.webp), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__conteiner {
    max-width: 1600px;
    background-image: url(../images/overlays.webp), url(../images/hero-dt.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__conteiner {
    background-image: url(../images/overlays.webp), url(../images/hero-mobile@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__conteiner {
    background-image: url(../images/overlays.webp), url(../images/hero-tablet2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__conteiner {
    background-image: url(../images/overlays.webp), url(../images/hero-dt@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .features__section {
    padding-bottom: 0;
  }
}
.features__title {
  margin-bottom: 50px;
  display: none;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  gap: 30px;
}

.features__subject {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.features__subject::before {
  display: block;
  content: "";
  background-color: var(--background-color-btn);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__subject {
    text-align: start;
  }
  .features__subject::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features__subject {
    text-align: start;
  }
  .features__subject::before {
    width: 270px;
    height: 120px;
  }
}
.features__subject--antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.features__subject--clock::before {
  background-image: url(../images/icons/clock.svg);
}

.features__subject--diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.features__subject--astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features__text {
  width: auto;
  font-size: 14px;
  line-height: 1.7142;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .features__text {
    max-width: 354px;
    font-size: 14px;
    line-height: 1.7142;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    max-width: 270px;
    font-size: 14px;
    line-height: 1.7142;
    color: var(--title-text-color);
  }
}

.works__title {
  margin-bottom: 50px;
}
.works__list-item {
  position: relative;
}
.works__list-item:not(:last-child) {
  margin-right: 30px;
}
.works__desc {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  color: var(--white-color);
  background: var(--bg-works-desk);
  padding: 27px 10px;
  text-transform: uppercase;
  overflow: auto;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.team {
  background-color: var(--bg-team);
}
.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team__list {
  gap: 30px;
}
.team__item {
  background: var(--bg-section);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: auto;
  max-height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__subject {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__experience {
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  fill: var(--white-color);
  background-color: var(--bg-accent);
  outline: transparent;
}
.social__link:focus {
  fill: var(--white-color);
  background-color: var(--bg-accent);
  outline: transparent;
}

@media screen and (max-width: 767px) {
  .team img {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team img {
    width: 354px;
    height: 374px;
  }
}
.partners__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
  }
}

.partners__list {
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partner__item {
  fill: var(--bg-partners);
}
@media screen and (max-width: 767px) {
  .partner__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) {
  .partner__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partner__item {
    width: calc((100% - 150px) / 6);
  }
}
.partner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 92px;
  padding: 13px 10px;
  border: 1px solid var(--bg-partners);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner__link:hover {
  fill: var(--c-accent);
  border-color: var(--bg-accent);
  outline: transparent;
}
.partner__link:focus {
  fill: var(--c-accent);
  border-color: var(--bg-accent);
  outline: transparent;
}
.partner__icon {
  width: 106px;
  height: 60px;
  fill: inherit;
}

@media screen and (min-width: 1200px) {
  .partner__link {
    width: auto;
    height: 92px;
  }
}
.footer {
  background-color: var(--background-color);
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer__conteiner {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__conteiner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 89px 60px 76px;
    gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__conteiner, .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 480px;
  }
}
.footer__address {
  display: block;
  width: 100%;
  width: 231px;
}
@media screen and (max-width: 767px) {
  .footer__address {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address {
    text-align: center;
  }
}

.footer__logo {
  color: var(--white-color);
}

.address {
  width: auto;
  margin-top: 20px;
}

.address__list {
  width: 100%;
  padding-left: 0;
  list-style: none;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--white-color);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  text-align: center;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.social__item--boder {
  border: none;
  border-radius: 50%;
  background: var(--bg-social);
}

.social__link--white {
  fill: var(--white-color);
}

.social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.footer-input {
  padding-top: 12px;
}
@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    margin-left: auto;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 318px;
  }
}
@media screen and (max-width: 1999px) {
  .form {
    gap: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .label__email {
    width: 100%;
  }
}
.footer__email {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  max-height: 50px;
  padding: 15px 16px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__email {
    max-width: 318px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email {
    width: 358px;
  }
}
.footer__email:hover {
  border: 1px solid #2196f3;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--c-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon__send {
  margin-left: 10px;
}

.galary {
  padding: 94px 0;
}

.galary__title {
  display: none;
}

.galary-button {
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .galary-button {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .galary-button {
    gap: 15px 8px;
    margin-bottom: 40px;
  }
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--c-primery);
  background-color: var(--bg-team);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: var(--white-color);
  background-color: var(--bg-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: transparent;
}
.button:focus {
  color: var(--white-color);
  background-color: var(--bg-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: transparent;
}

.galary__button {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .galary__button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.galary__button--general {
  padding: 6px 25px;
}

.galary-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.galary__item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
@media screen and (max-width: 1199px) {
  .galary__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .galary__item {
    width: 100%;
  }
}

.galary__link {
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0 auto;
  color: var(--c-primery);
  text-decoration: none;
}
.galary__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}
.galary__link:hover .galary__descriotion {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.galary__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}
.galary__link:focus .galary__descriotion {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.galary-card {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .galary-card img {
    width: 370px;
    height: 294px;
  }
}

.galary__descriotion {
  position: absolute;
  background-color: var(--bg-galary-desc);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  padding: 63px 24px;
}

.galary-desc {
  padding: 20px 24px;
  border: 1px solid var(--border-col);
}

.galary-desc__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galary-desk__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-section);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 480px) {
  .modal {
    width: auto;
    height: auto;
  }
}
.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-section);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal__button--close:hover {
  fill: var(--c-accent);
}
.modal__button--close:focus {
  fill: var(--c-accent);
}
.modal__button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-color: transparent;
  border-radius: 4px;
  outline: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--bg-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-form {
  width: auto;
}
.modal-form__title {
  width: auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: var(--c-primery);
}
@media screen and (max-width: 1199px) {
  .modal-form__title {
    font-size: 20px;
    line-height: 1.5;
  }
}
.modal-form__text {
  display: block;
  width: 100%;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--c-placeholder);
}
.modal-form__text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--c-placeholder);
}
.modal-form__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--c-placeholder);
}
.modal-form__text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--c-placeholder);
}
.modal-form__text::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--c-placeholder);
}
@media screen and (max-width: 1199px) {
  .modal-form__text::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.1428;
  }
  .modal-form__text::-moz-placeholder {
    font-size: 14px;
    line-height: 1.1428;
  }
  .modal-form__text:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.1428;
  }
  .modal-form__text::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.1428;
  }
  .modal-form__text::placeholder {
    font-size: 14px;
    line-height: 1.1428;
  }
}
.modal-form__text:focus {
  border: 1px solid var(--c-accent);
}

.form-row {
  margin-bottom: 10px;
}
.form-row__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.form-row__item {
  position: relative;
}
.form-row__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.form-row__input:focus {
  border: 1px solid var(--c-accent);
}
.form-row__input:focus + svg {
  fill: var(--c-accent);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-row__icon {
  fill: var(--c-primery);
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-check {
  margin-bottom: 30px;
}
.modal-check__input {
  position: absolute;
  opacity: 0;
}
.modal-check__input:checked.modal-check__label::before {
  background-color: var(--bg-accent);
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (max-width: 480px) {
  .modal-check__label {
    gap: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .modal-check__label {
    font-size: 12px;
    line-height: 1.1666;
  }
}
.modal-check__label::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7px;
  content: "";
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check__link {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.7142;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--c-accent);
}
@media screen and (max-width: 1199px) {
  .modal-check__link {
    font-size: 12px;
    line-height: 1.1666;
  }
}/*# sourceMappingURL=main.css.map */